<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 武汉脚印猫科技有限公司 (Wuhan Footprint Cat Technology Co., Ltd.)
  ~
  ~ This source code is licensed under the BSD-3-Clause license found in the
  ~ LICENSE file in the root directory of this source tree.
  ~
  ~ SPDX-License-Identifier: BSD-3-Clause
  -->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.footprintcat.frostiot.core.springboot.mapper.MyXmlMapper">

    <insert id="insert">
        INSERT INTO messages (message)
        VALUES (#{message})
    </insert>

    <select id="select" resultType="com.footprintcat.frostiot.core.springboot.pojo.test.Message">
        SELECT
            id
             ,message
        FROM
            messages
        WHERE
            id = #{id}
    </select>

</mapper>
