<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <!-- micronaut 默认的日志格式
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n
            </pattern>
            -->
            <!-- 明确指定编码 -->
            <!--<charset>UTF-8</charset>-->
            <!--注：因不同命令行编码不同，无法在此处统一配置编码，相关逻辑通过 EncodingInitializer 进行处理 -->
            <pattern>
                %cyan(%d{HH:mm:ss.SSS}) %highlight(%-5.5level) %gray([%5.5thread]) %magenta(%-40.40logger{39}) : %msg%n
            </pattern>
            <!-- 说明：
                 %-5level - 日志级别左对齐，固定宽度5字符
                 %-40.40logger{39} - 类名左对齐，固定宽度40字符，超过部分截断
                    %-40：左对齐，最小宽度 40 字符（不足时用空格填充）。
                    .40：最大宽度 40 字符（超过时截断）。
                    logger{39}：显示 Logger 名称，并限制其原始长度（可选参数）。
                 : 作为分隔符，增强可读性
            -->
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

    <!--
    2025.05.17 隐藏指定 application-{env}.yml 配置文件时控制台打印的如下日志：
    02:16:01.328 INFO  [ main] tionContext$RuntimeConfiguredEnvironment : Established active environments: [develop]
    -->
    <!-- 2025.10.15 调整为 EarlyStartupPrinter 构造函数中打印, 不再隐藏此日志 -->
    <!--<logger name="io.micronaut.context.DefaultApplicationContext$RuntimeConfiguredEnvironment" level="OFF" />-->
</configuration>
